@model Samochod

<h2>@Model.Marka - @Model.Model</h2>

<div class="img-thumbnail">
    <img src="@Model.ZdjecieUrl" alt="@Model.Marka" />
    <div class="caption-full">
        <h3 class="pull-right">@Model.Cena </h3>
        <h4>@Model.RokProdukcji</h4>
        <h4>@Model.Przebieg</h4>
        <h4>@Model.Pojemnosc</h4>
        <h4>@Model.Moc</h4>
        <h4>@Model.Opis</h4>

    </div>
</div>
